#!/bin/bash -l

#SBATCH --nodes=__NODES__
#SBATCH --ntasks-per-node=__NTASKS_PER_NODE__
#SBATCH --time=06:00:00
#SBATCH --export=NONE

if [ "$#" -ne 4 ]; then
    echo "Illegal number of parameters. Needs bin, .prm file and output."
    exit 1
fi

unset SLURM_EXPORT_ENV

echo "running benchmark..."

srun __DEPENDANT_SRUN_FLAGS__ --cpu-freq=$4-$4:performance --output="$3" __THREAD_PINNING__ "$1" "$2"
