#!/bin/bash -l

#SBATCH --nodes=__NODES__
#SBATCH --ntasks-per-node=__NTASKS_PER_NODE__
#SBATCH --time=06:00:00
#SBATCH --export=NONE

if [ "$#" -ne 3 ]; then
    echo "Illegal number of parameters. Needs bin, .prm file and output."
    exit 1
fi

unset SLURM_EXPORT_ENV

echo "compiling..."

make -j __NTASKS_PER_NODE__

echo "finished build, running benchmark..."

srun __DEPENDANT_SRUN_FLAGS__  --output="$3" "$1" "$2"
